html, body, .root {
  height: 100%;
  font-family: 'Pontano Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  box-sizing: border-box;
  padding-bottom: 20px;
  margin: 10px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.infoWindow {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 400px;
  max-width: 400px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ada9a9;
  overflow-x: hidden; /* Disable horizontal scroll */
  flex: 1;
  min-width: 25%;
}

.search-venues {
  display: inline-block;
  width: 90%;
  border: 1px solid #999;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.search-venues:focus {
  border: 3px solid #555;
}

.header {
  height: 100px;
  background-color: #5fa7cd;
  text-align: -webkit-center;
  padding-top: 30px;
  box-sizing: border-box;
}

.footer {
  height: 100px;
  background-color: #5fa7cd;
  text-align: -webkit-center;
  padding-top: 30px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 25%;
}

.map {
  display: flex;
  max-width: 75%;
  flex: 1;
  height: 100%;
  right: 0;
  position: fixed !important;
  width: 100%;
}
