html, body, .root {
  height: 100%;
  font-family: 'Pontano Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  box-sizing: border-box;
  padding-bottom: 20px;
  margin: 10px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.infoWindow {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 400px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ada9a9;
  overflow-x: hidden; /* Disable horizontal scroll */
  flex: 1;
  min-width: 25%;
}

.search-venues {
  display: inline-block;
  width: 90%;
  border: 1px solid #999;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.search-venues:focus {
  border: 3px solid #555;
}

.header {
  height: 100px;
  background-color: #5fa7cd;
  text-align: -webkit-center;
  box-sizing: border-box;
}

.footer {
  height: 100px;
  background-color: #5fa7cd;
  text-align: -webkit-center;
  padding-top: 30px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 25%;
}

.map {
  display: flex;
  max-width: 75%;
  flex: 1;
  height: 100%;
  right: 0;
  position: fixed !important;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .fas.fa-search-location {
    display: none;
  }
  .sidebar {
    max-width: 400px;
  }
  .header {
    padding-top: 30px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .fas.fa-search-location {
    display: none;
  }
  .sidebar {
    max-width: 400px;
  }
  .header {
    padding-top: 30px;
  }
  .map {
    max-width: 61%;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
    width: 100%;
  }
  .header {
    display: flex;
  }
  h1 {
    font-size: 1.8em;
    margin: 25px;
  }
  .map {
    max-width: 100%;
  }

  .fas.fa-search-location {
    z-index: 1;
    position: fixed;
    z-index: 10;
    font-size: 42px;
    margin-top: 15%;
    margin-left: 10px;
  }

  .fas.fa-times-circle {
    font-size: 42px;
    margin-top: 25px;
    position: absolute;
    right: 0;
    margin-right: 10px;
  }
}
